@import 'theme.css';
/*
@import url('https://fonts.googleapis.com/css?family=Fira+Mono&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
*/


/*
.wy-nav-content {
    max-width: 980px !important;
}
*/
/*
.wy-side-nav-search  {
    width: 275px;
}

.wy-nav-side {
    width: 275px;
}

.wy-nav-content-wrap {
    margin-left: 275px;
}
*/

.hlist ul li {

    list-style: none !important;
    margin-left: 0px !important;
    /*width: max-content !important;*/
}

td {
    vertical-align: middle;  
}

td:last-child { 
    padding-left: 16px;
}

.highlight-cpp pre {
    font-size: 14px !important;
}

.highlight pre {
    font-size: 14px !important;
}


@media screen and (max-width:1068px) {
    /*
    td:first-child {
       width: 100%;
       display: block;
       table-layout: auto;
    }

    td:last-child { 
        padding-left: 4px;
    }
    */

    td {
        display: block;
    }

    td:last-child { 
        padding-left: 4px;
    }    



}

@media screen and (max-width:768px) {

    .highlight-cpp pre {
        font-size: 2.5vw !important;
    }
    
    .highlight pre {
        font-size: 2.5vw !important;
    }
}

/** this makes the text to the side of 
code in a hlist italic and smaller **/

.hlist .simple p {
    font-style: italic;
    font-size: 14px;
    line-height: initial;
}

@import 'pygments.css';